HELP.md
target/
logs/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
**/src/test/**
mvnw.cmd
mvnw
.mvn

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
gc.log

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
